.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4d4d4d;
}

.navbar-left a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #4d4d4d;
  letter-spacing: 0.1em;
}

.navbar-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin-left: 1.5rem;
}

.navbar-right a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  transition: all 0.3s ease-in-out;
  color: #4d4d4d;
}

.navbar-right a.active {
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar h1 {
    font-size: 2rem;
  }

  .navbar-right {
    margin-top: 1rem;
  }

  .navbar-right li {
    margin-left: 1rem;
  }

  .navbar-right a {
    font-size: 1rem;
  }
}
